@font-face {
    font-family: "maler";
    src: url("./fonts/Maler.ttf");
}

#title {
    margin-top: 80px;
    font-family: "maler";
    text-align: center;
}

#contact {
    margin-top: 14px;
}

#footer {
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
    white-space: nowrap;
}

#footer-icons {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.share-icon {
    margin-left: 7px;
  }
  
a {
    color: black;
}

.hover-grey:hover {
    color: grey;
}

a:visited {
    color: black;
}

button a:hover {
    color: white !important;
}

button > a {
    text-decoration: none;
}

.fa {
    font-size: 24px;
}

.line {
    height: 1px;
    border: none;
    background-color: #e8e8e8;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

button a:hover {
    color: white !important;
}

button > a {
    text-decoration: none;
}

button {
    font-size: 14px;
    /* font-family: Noto Serif SC; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px grey solid;
    background-color: white;
}

button:hover:enabled {
    cursor: pointer;
    background-color: black;
    color: white;
}

button:hover:enabled > a {
    color: white;
}

button:focus {
    outline:0;
}

select:focus {
    outline:0;
}

select {
    padding-left: 3px;
    border: 1px grey solid;
    border-radius: 5px;
}

h3 {
    font-family: "maler";
}

h4 {
    text-align: center;
    font-family: "Crimson Text";
    font-weight: bold;
}

.question {
    font-weight: bold;
    font-family: "Crimson Text";
}



#popup-body {
    font-size: 16px;
    height:500px; 
    width: 350px; 
    margin: 20px;
    /* font-family: 'Noto Serif SC', serif; */
    font-family: 'Crimson Text', serif;
  }
  
  .radio-group-wrapper {
    display: flex;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .radio-group {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 48em) {
    .radio-group {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
  }
  
  .radio-group-label {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  
  .radio-label {
    position: relative;
    display: inline-block;
    margin: 8px;
  }
  @media (max-width: 48em) {
    .radio-label {
      display: block;
      margin: 10px 0;
    }
  }
  .radio-label input {
    opacity: 0;
    position: absolute;
  }
  .radio-label .inner-label {
    position: relative;
    display: inline-block;
  }
  
 .radio-label input:hover ~ .inner-label {
    background-color: black;
    color: white;
    cursor: pointer; 
    outline-color: black;
  }
  .radio-label input:checked ~ .inner-label {
    background-color: black;
    color: white;  
    outline-color: black;
  }

 .inner-label {
    border-radius: 5px;
    outline-width: 1px;
    outline-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    outline-color: grey;
    width: 200px;
    text-align: center;
  }

  #popup-title {
    font-size: 25px; 
    display: block; 
    margin: 0 auto; 
    text-align: center; 
    padding-top:15px;
    font-family: "maler";
  }

  #title-url {
    text-decoration: none;
  }

  #learn-more {
    margin-bottom: 30px;
  }

  #table-of-contents {
    margin: 0 auto;
    width: fit-content;
  }

body {
  font-family: "Crimson Text", "serif";
  font-size: 20px;
}

.image-wrapper {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

#jump-to-tutorial {
  border-radius: 5px;
  outline-width: 1px;
  outline-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#jump-to-tutorial > a {
  text-decoration: none;
}

#main-image {
    width: 800px; 
    margin: 40px; 
    margin-top: 70px;;
    margin-bottom: 70px;;
    border-radius: 5px; 
    outline-style: solid; 
    outline-width: 1px; 
    outline-color: grey; 
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.0); 
    filter: grayscale(20%)
}

.text-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.highlight {
    width:fit-content; 
    background-color: #E3DED7; 
    border-radius: 5px; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 3px; 
    padding-bottom: 3px;
}

.popup-highlight {
    background: linear-gradient(120deg, #E3DED7 0%, #E3DED7 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 90%;
    width: fit-content;
    border-radius: 5px;
}

a {
  /* color: #E3DED7; */
  text-decoration-color: #E3DED7;
  text-decoration-thickness: 4px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: block;
  margin-bottom: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
background-color: white;
color: black;
text-align: center;
padding: 5px 5px;
border: 1px black solid;
border-radius: 10px;
/* top: -5px;
left: 70%; */
font-size: 10px;
min-width: 110px;

/* Position the tooltip text - see examples below! */
position: absolute;
z-index: 1;

top: -5px;
right: 105%;
}

.tooltiptext {
white-space: normal;
}

.wrapper {
    margin: 0 auto; 
    display: block; 
    width: 50%;
}

#main-gif {
  width: 1000px;
}

@media (max-width: 1000px){
  .wrapper{
    width: 70%;
  }
  #main-image {
    width: 90%;
  }
  #main-gif{
    width: 100%;
  }
}
